<!DOCTYPE html>
<html lang="id">

<head>
    <script src="https://unpkg.com/alpinejs" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <title>Halaman Mahasiswa</title>
    <style>
        [x-cloak] {
            display: none !important;
        }
    </style>
</head>

<body>
    <div x-data="app()" x-cloak class="dashboard-layout">
        <%- include('../partials/sidebar-mahasiswa') %>
            <div class="main-content-wrapper">
                <!-- Header Navigasi -->
                <div class="header">
                    <div class="nav-container">
                        <div class="nav-icons">
                            <img src="../pic/kompas.png" class="nav-icon" alt="Pen" />
                            <img src="../pic/chat.png" class="nav-icon" alt="Chat" />
                            <img src="../pic/notif.png" class="nav-icon" alt="Notifications" />
                            <span class="logout"><img src="../pic/logout.png" class="nav-icon" alt="Logout" /> <a
                                    href="/logout">Keluar</a></span>
                        </div>
                    </div>
                </div>


                <!-- Konten Utama -->
                
                <h1 class="section-title">Jadwal Bimbingan</h1>
                <div class="white-box">
                <div class="list-container">
                    <div class="tab-container">
                        <button @click="currentTab = 'jadwal'" :class="{'active': currentTab === 'jadwal'}"
                            class="tab-button">
                            Jadwal Saya
                        </button>

                        <button @click="currentTab = 'buat'" :class="{'active': currentTab === 'buat'}"
                            class="tab-button">
                            Buat Jadwal
                        </button>
                    </div>
                </div>
                <div class="container">
                    <div class="main-container">
                        <!-- Konten Bimbingan -->
                        <template x-if="currentTab === 'jadwal'">
                                <div class="jadwal-container">
                                    <template x-for="j in jadwalList" :key="j.id">
                                        <div class="jadwal-card">
                                            <div class="jadwal-header">
                                                <!-- <h4>Jadwal Bimbingan</h4> -->
                                                <span class="date"
                                                        x-text="new Date(j.tanggal).toLocaleDateString('id-ID')"></span>
                                                <span class="status-badge" :class="j.status.toLowerCase()"
                                                    x-text="j.status"></span>
                                            </div>
                                            <div class="action-buttons">
                                                <button x-show="j.status === 'Sedang Verifikasi'"
                                                    @click="openEditModal(j)" class="action-btn edit-btn">
                                                    <img src="../pic/edit.png" class="nav-icon" alt="Pen" />
                                                    <!-- âœï¸ Edit -->
                                                </button>

                                                <button x-show="j.status === 'Sedang Verifikasi'"
                                                    @click="deleteJadwal(j.id)" class="action-btn delete-btn">
                                                    <img src="../pic/delete.png" class="nav-icon" alt="Pen" />
                                                    <!-- ðŸ—‘ï¸ Hapus -->
                                                </button>
                                            </div>
                                            <div class="jadwal-content">
                                                <div class="jadwal-time">
                                                    <span class="time"
                                                        x-text="j.waktu_mulai + ' - ' + j.waktu_selesai"></span>
                                                </div>
                                            </div>
                                            <div class="jadwal-meta">
                                                <span x-text="'Cara: ' + j.penyelenggaraan"></span>
                                                <p x-text="'Deskripsi: ' + j.deskripsi"></p>
                                                <p x-text="'Komentar: ' + (j.komentar_mahasiswa || '')"></p>
                                                <p x-text="'Catatan Dosen: ' + (j.komentar_dosen || '')"></p>
                                            </div>
                                        </div>
                                    </template>
                                </div>

                        </template>

                        <!-- Konten Verifikasi -->
                        <template x-if="currentTab === 'buat'">
                            <div class="content-box">
                                <form @submit.prevent="buatJadwal">
                                    <div class="input-group">
                                        <label>Tanggal</label>
                                        <input type="date" x-model="jadwalForm.tanggal" required>
                                    </div>

                                    <div class="input-group">
                                        <label>Waktu Mulai</label>
                                        <input type="time" x-model="jadwalForm.waktu_mulai" required>
                                    </div>

                                    <div class="input-group">
                                        <label>Waktu Selesai</label>
                                        <input type="time" x-model="jadwalForm.waktu_selesai" required>
                                    </div>

                                    <div class="input-group">
                                        <label>Cara Penyelenggaraan</label>
                                        <select x-model="jadwalForm.penyelenggaraan" required>
                                            <option value="" disabled selected>Pilih penyele...</option>
                                            <option value="Online">Online</option>
                                            <option value="Offline">Offline</option>
                                        </select>
                                    </div>

                                    <div class="input-group">
                                        <label>Deskripsi</label>
                                        <textarea x-model="jadwalForm.deskripsi" required></textarea>
                                    </div>

                                    <div class="input-group">
                                        <label>Komentar Mahasiswa</label>
                                        <input type="text" x-model="jadwalForm.komentar_mahasiswa">
                                    </div>

                                    <div class="input-group">
                                        <label>Pilih Dosen Pembimbing</label>
                                        <select x-model="jadwalForm.supervisor_id" required>
                                            <option value="" disabled selected>Pilih Dosen...</option>
                                            <template x-for="dosen in listDosen" :key="dosen.id">
                                                <option :value="dosen.id" x-text="dosen.username"></option>
                                            </template>
                                        </select>
                                    </div>

                                    <button type="submit" class="button">Buat Jadwal</button>
                                </form>
                        </template>
                    </div>
                </div>

                <div x-show="isEditModalOpen" class="modal-overlay">
                    <div class="modal-content">
                        <h3>Edit Jadwal</h3>
                        <form @submit.prevent="updateJadwal">
                            <input type="hidden" x-model="editData.id">

                            <!-- Tambahkan semua field yang bisa di edit -->
                            <div class="input-group">
                                <label>Tanggal</label>
                                <input type="date" x-model="editData.tanggal" required>
                            </div>

                            <div class="input-group">
                                <label>Waktu Mulai</label>
                                <input type="time" x-model="editData.waktu_mulai" required>
                            </div>

                            <div class="input-group">
                                <label>Waktu Selesai</label>
                                <input type="time" x-model="editData.waktu_selesai" required>
                            </div>

                            <div class="input-group">
                                <label>Cara Penyelenggaraan</label>
                                <select x-model="editData.penyelenggaraan" required>
                                    <option value="Online">Online</option>
                                    <option value="Offline">Offline</option>
                                </select>
                            </div>

                            <div class="input-group">
                                <label>Deskripsi</label>
                                <textarea x-model="editData.deskripsi" required></textarea>
                            </div>

                            <div class="input-group">
                                <label>Komentar Mahasiswa</label>
                                <input type="text" x-model="editData.komentar_mahasiswa">
                            </div>

                            <div class="input-group">
                                <label>Dosen Pembimbing</label>
                                <select x-model="editData.supervisor_id" required>
                                    <template x-for="dosen in listDosen" :key="dosen.id">
                                        <option :value="dosen.id" x-text="dosen.username"></option>
                                    </template>
                                </select>
                            </div>

                            <div class="modal-actions">
                                <button type="button" @click="isEditModalOpen = false" class="button cancel">
                                    Batal
                                </button>
                                <button type="submit" class="button save">
                                    Simpan Perubahan
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                </template>
            </div>
    </div>
    </div>
    </div>
    </div>

    <script>
        function app() {
            return {
                currentTab: 'jadwal',
                currentUser: JSON.parse('<%- initialData %>').currentUser,
                jadwalList: JSON.parse('<%- initialData %>').jadwalList || [],
                listDosen: JSON.parse('<%- initialData %>').listDosen || [],
                editData: {},
                isEditModalOpen: false,
                jadwalForm: {
                    tanggal: '',
                    waktu_mulai: '',
                    waktu_selesai: '',
                    status: 'Sedang Verifikasi'
                },

                formatDate(isoString) {
                    const date = new Date(isoString);
                    const localDate = date.toLocaleDateString('id-ID', {
                        year: 'numeric',
                        month: '2-digit',
                        day: '2-digit'
                    });
                    const [day, month, year] = localDate.split('/');
                    return `${year}-${month}-${day}`;
                },
                openEditModal(jadwal) {
                    this.editData = { ...jadwal };
                    this.editData.tanggal = this.formatDate(jadwal.tanggal); // formatnya kyk '2025-05-07T17:00:00.000Z' diubah jadi 2025-05-08
                    this.isEditModalOpen = true;
                },

                async buatJadwal() {
                    try {
                        await axios.post('/jadwal', {
                            ...this.jadwalForm,
                            userId: this.currentUser.id,
                            penyelenggaraan: this.jadwalForm.penyelenggaraan,
                            supervisor_id: this.jadwalForm.supervisor_id
                        });
                        alert('Jadwal berhasil dibuat!');
                        this.jadwalForm = { // reset input jadwal
                            tanggal: '',
                            waktu_mulai: '',
                            waktu_selesai: '',
                            status: 'Sedang Verifikasi'
                        };
                        await this.loadJadwal();
                    } catch (error) {
                        console.error(error);
                        alert(`Gagal membuat jadwal: ${error.response?.data || error.message}`);
                    }
                },

                async loadJadwal() {
                    try {
                        const response = await axios.get('/jadwal', {
                            params: {
                                userId: this.currentUser.id,
                                sort: 'tanggal_asc',
                            }
                        });

                        // Jika backend sudah handle sorting, tidak perlu sort di frontend
                        this.jadwalList = response.data;

                    } catch (error) {
                        console.error('Error loading jadwal:', error);
                        alert('Gagal memuat jadwal: ' + (error.response?.data?.error || error.message));
                    }
                },
                async updateJadwal() {
                    try {
                        await axios.put(`/jadwal/${this.editData.id}`, {
                            userId: this.currentUser.id,
                            tanggal: this.editData.tanggal,
                            waktu_mulai: this.editData.waktu_mulai,
                            waktu_selesai: this.editData.waktu_selesai,
                            penyelenggaraan: this.editData.penyelenggaraan,
                            deskripsi: this.editData.deskripsi,
                            komentar_mahasiswa: this.editData.komentar_mahasiswa,
                            supervisor_id: this.editData.supervisor_id
                        });
                        await this.loadJadwal();
                        this.isEditModalOpen = false;
                        alert('Berhasil update!');
                    } catch (error) {
                        alert(`Gagal: ${error.response?.data || error.message}`);
                    }
                },

                async deleteJadwal(jadwalId) {
                    if (!confirm('Yakin ingin menghapus?')) return;

                    try {
                        await axios.delete(`/jadwal/${jadwalId}`, {
                            data: { userId: this.currentUser.id }
                        });
                        await this.loadJadwal();
                        alert('Jadwal dihapus!');
                    } catch (error) {
                        alert(`Gagal: ${error.response?.data || error.message}`);
                    }
                },
            }

        }
    </script>
</body>

</html>